@import url("reset.css");

body {
	background-color: rgb(16, 16, 16);
}

.parent {
	margin: 5px;
	width: calc(100vw - 10px);
	height: calc(100vh - 10px);
	display: grid;
	grid-template-columns: 2fr 1fr;
	column-gap: 5px;
}

.parent > * {
	border-radius: 10px;
	background-color: rgb(32, 32, 32);
}

.image {
	width: 2fr;
	height: 1fr;
	background-image: url(../assets/backdrop.JPEG);
	background-size: cover;
	background-position: left;
}

.input-form {
	padding: calc(10px - 2.5px);
	width: 1fr;
	height: 1fr;
}

form * {
	margin: 2.5px;
}

.return-link {
	width: min-content;
	height: min-content;
}

.form-input-text {
	color: white;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form-input-underline {
	background: none;
	color: white;
	border-color: white;
	color-scheme: dark;
	border-top: none;
	border-left: none;
	border-right: none;
	width: calc(100% - 10px);
}