@import url(styles/reset.css);

main {
    position: absolute;
    margin: 5px;
    width: calc(100vw - 10px);
    height: calc(100vh - 10px);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
}

.widget {
    border-radius: 10px;
    background-color: rgb(32, 32, 32);
}

.tall {
    grid-row: span 2;
}